$palette-content-background: #131315;
$palette-content-blue: #b9c3ff;
$palette-content-blue-container: #0036d1;
$palette-content-blue-source: #0000ff;
$palette-content-blue-value: #0000ff;
$palette-content-cyan: #ffffff;
$palette-content-cyan-container: #a8eefc;
$palette-content-cyan-source: #00ffff;
$palette-content-cyan-value: #00ffff;
$palette-content-error: #ffb4ab;
$palette-content-error-container: #93000a;
$palette-content-green: #e8ffea;
$palette-content-green-container: #00fc94;
$palette-content-green-source: #00ff00;
$palette-content-green-value: #00ff00;
$palette-content-inverse-on-surface: #303032;
$palette-content-inverse-primary: #565d78;
$palette-content-inverse-surface: #e4e2e4;
$palette-content-magenta: #eab2ff;
$palette-content-magenta-container: #cd60ff;
$palette-content-magenta-source: #ff00ff;
$palette-content-magenta-value: #ff00ff;
$palette-content-on-background: #e4e2e4;
$palette-content-on-blue: #00218c;
$palette-content-on-blue-container: #e6e8ff;
$palette-content-on-cyan: #00363e;
$palette-content-on-cyan-container: #00505a;
$palette-content-on-error: #690005;
$palette-content-on-error-container: #ffdad6;
$palette-content-on-green: #00391d;
$palette-content-on-green-container: #004f2b;
$palette-content-on-magenta: #510072;
$palette-content-on-magenta-container: #000000;
$palette-content-on-primary: #282f48;
$palette-content-on-primary-container: #000000;
$palette-content-on-primary-fixed: #131b32;
$palette-content-on-primary-fixed-variant: #3f465f;
$palette-content-on-red: #67001f;
$palette-content-on-red-container: #000000;
$palette-content-on-secondary: #2d303a;
$palette-content-on-secondary-container: #e2e3f1;
$palette-content-on-secondary-fixed: #191b25;
$palette-content-on-secondary-fixed-variant: #444651;
$palette-content-on-surface: #e4e2e4;
$palette-content-on-surface-variant: #c6c6ce;
$palette-content-on-tertiary: #40293c;
$palette-content-on-tertiary-container: #000000;
$palette-content-on-tertiary-fixed: #291427;
$palette-content-on-tertiary-fixed-variant: #583f53;
$palette-content-on-white: #2f3131;
$palette-content-on-white-container: #464849;
$palette-content-on-yellow: #273504;
$palette-content-on-yellow-container: #3e4d1a;
$palette-content-outline: #909098;
$palette-content-outline-variant: #45464d;
$palette-content-primary: #bfc5e4;
$palette-content-primary-container: #8990ac;
$palette-content-primary-fixed: #dbe1ff;
$palette-content-primary-fixed-dim: #bfc5e4;
$palette-content-red: #ffb2b9;
$palette-content-red-container: #ff5070;
$palette-content-red-source: #ff0000;
$palette-content-red-value: #ff0000;
$palette-content-scrim: #000000;
$palette-content-secondary: #c4c6d3;
$palette-content-secondary-container: #464954;
$palette-content-secondary-fixed: #e1e1ef;
$palette-content-secondary-fixed-dim: #c4c6d3;
$palette-content-shadow: #000000;
$palette-content-surface: #131315;
$palette-content-surface-bright: #39393b;
$palette-content-surface-container: #1f1f21;
$palette-content-surface-container-high: #2a2a2c;
$palette-content-surface-container-highest: #353436;
$palette-content-surface-container-low: #1b1b1d;
$palette-content-surface-container-lowest: #0e0e10;
$palette-content-surface-dim: #131315;
$palette-content-surface-tint: #bfc5e4;
$palette-content-surface-variant: #45464d;
$palette-content-tertiary: #dfbcd6;
$palette-content-tertiary-container: #a7879f;
$palette-content-tertiary-fixed: #fcd8f2;
$palette-content-tertiary-fixed-dim: #dfbcd6;
$palette-content-white: #ffffff;
$palette-content-white-container: #e2e2e2;
$palette-content-white-source: #ffffff;
$palette-content-white-value: #ffffff;
$palette-content-yellow: #ffffff;
$palette-content-yellow-container: #d7eaa7;
$palette-content-yellow-source: #ffff00;
$palette-content-yellow-value: #ffff00;
$palette-expressive-background: #13131a;
$palette-expressive-blue: #8dd7a4;
$palette-expressive-blue-container: #00522d;
$palette-expressive-blue-source: #0000ff;
$palette-expressive-blue-value: #0000ff;
$palette-expressive-cyan: #e5c361;
$palette-expressive-cyan-container: #584400;
$palette-expressive-cyan-source: #00ffff;
$palette-expressive-cyan-value: #00ffff;
$palette-expressive-error: #ffb4ab;
$palette-expressive-error-container: #93000a;
$palette-expressive-green: #ffb59c;
$palette-expressive-green-container: #75331b;
$palette-expressive-green-source: #00ff00;
$palette-expressive-green-value: #00ff00;
$palette-expressive-inverse-on-surface: #302f38;
$palette-expressive-inverse-primary: #2a6b3d;
$palette-expressive-inverse-surface: #e4e1ec;
$palette-expressive-magenta: #72d6d9;
$palette-expressive-magenta-container: #004f51;
$palette-expressive-magenta-source: #ff00ff;
$palette-expressive-magenta-value: #ff00ff;
$palette-expressive-on-background: #e4e1ec;
$palette-expressive-on-blue: #00391e;
$palette-expressive-on-blue-container: #a8f3bf;
$palette-expressive-on-cyan: #3d2f00;
$palette-expressive-on-cyan-container: #ffe08b;
$palette-expressive-on-error: #690005;
$palette-expressive-on-error-container: #ffdad6;
$palette-expressive-on-green: #581d07;
$palette-expressive-on-green-container: #ffdbcf;
$palette-expressive-on-magenta: #003738;
$palette-expressive-on-magenta-container: #8ff3f6;
$palette-expressive-on-primary: #003918;
$palette-expressive-on-primary-container: #aef3b8;
$palette-expressive-on-primary-fixed: #00210b;
$palette-expressive-on-primary-fixed-variant: #0b5227;
$palette-expressive-on-red: #003257;
$palette-expressive-on-red-container: #d0e4ff;
$palette-expressive-on-secondary: #3d2946;
$palette-expressive-on-secondary-container: #f6d9ff;
$palette-expressive-on-secondary-fixed: #261430;
$palette-expressive-on-secondary-fixed-variant: #543f5e;
$palette-expressive-on-surface: #e4e1ec;
$palette-expressive-on-surface-variant: #c8c4d6;
$palette-expressive-on-tertiary: #312a58;
$palette-expressive-on-tertiary-container: #e5deff;
$palette-expressive-on-tertiary-fixed: #1b1442;
$palette-expressive-on-tertiary-fixed-variant: #474070;
$palette-expressive-on-white: #3e2e00;
$palette-expressive-on-white-container: #ffdf93;
$palette-expressive-on-yellow: #59192b;
$palette-expressive-on-yellow-container: #ffd9df;
$palette-expressive-outline: #918f9f;
$palette-expressive-outline-variant: #464554;
$palette-expressive-primary: #92d69e;
$palette-expressive-primary-container: #0b5227;
$palette-expressive-primary-fixed: #aef3b8;
$palette-expressive-primary-fixed-dim: #92d69e;
$palette-expressive-red: #9ccaff;
$palette-expressive-red-container: #00497b;
$palette-expressive-red-source: #ff0000;
$palette-expressive-red-value: #ff0000;
$palette-expressive-scrim: #000000;
$palette-expressive-secondary: #d9bde3;
$palette-expressive-secondary-container: #543f5e;
$palette-expressive-secondary-fixed: #f6d9ff;
$palette-expressive-secondary-fixed-dim: #d9bde3;
$palette-expressive-shadow: #000000;
$palette-expressive-surface: #13131a;
$palette-expressive-surface-bright: #393841;
$palette-expressive-surface-container: #1f1f27;
$palette-expressive-surface-container-high: #2a2931;
$palette-expressive-surface-container-highest: #35343c;
$palette-expressive-surface-container-low: #1b1b23;
$palette-expressive-surface-container-lowest: #0e0d15;
$palette-expressive-surface-dim: #13131a;
$palette-expressive-surface-tint: #92d69e;
$palette-expressive-surface-variant: #464554;
$palette-expressive-tertiary: #c9c0f8;
$palette-expressive-tertiary-container: #474070;
$palette-expressive-tertiary-fixed: #e5deff;
$palette-expressive-tertiary-fixed-dim: #c9c0f8;
$palette-expressive-white: #e8c261;
$palette-expressive-white-container: #594400;
$palette-expressive-white-source: #ffffff;
$palette-expressive-white-value: #ffffff;
$palette-expressive-yellow: #ffb1c0;
$palette-expressive-yellow-container: #753041;
$palette-expressive-yellow-source: #ffff00;
$palette-expressive-yellow-value: #ffff00;
$palette-fidelity-background: #131315;
$palette-fidelity-blue: #b9c3ff;
$palette-fidelity-blue-container: #0036d1;
$palette-fidelity-blue-source: #0000ff;
$palette-fidelity-blue-value: #0000ff;
$palette-fidelity-cyan: #ffffff;
$palette-fidelity-cyan-container: #a8eefc;
$palette-fidelity-cyan-source: #00ffff;
$palette-fidelity-cyan-value: #00ffff;
$palette-fidelity-error: #ffb4ab;
$palette-fidelity-error-container: #93000a;
$palette-fidelity-green: #e8ffea;
$palette-fidelity-green-container: #00fc94;
$palette-fidelity-green-source: #00ff00;
$palette-fidelity-green-value: #00ff00;
$palette-fidelity-inverse-on-surface: #303032;
$palette-fidelity-inverse-primary: #565d78;
$palette-fidelity-inverse-surface: #e4e2e4;
$palette-fidelity-magenta: #eab2ff;
$palette-fidelity-magenta-container: #cd60ff;
$palette-fidelity-magenta-source: #ff00ff;
$palette-fidelity-magenta-value: #ff00ff;
$palette-fidelity-on-background: #e4e2e4;
$palette-fidelity-on-blue: #00218c;
$palette-fidelity-on-blue-container: #e6e8ff;
$palette-fidelity-on-cyan: #00363e;
$palette-fidelity-on-cyan-container: #00505a;
$palette-fidelity-on-error: #690005;
$palette-fidelity-on-error-container: #ffdad6;
$palette-fidelity-on-green: #00391d;
$palette-fidelity-on-green-container: #004f2b;
$palette-fidelity-on-magenta: #510072;
$palette-fidelity-on-magenta-container: #000000;
$palette-fidelity-on-primary: #282f48;
$palette-fidelity-on-primary-container: #000000;
$palette-fidelity-on-primary-fixed: #131b32;
$palette-fidelity-on-primary-fixed-variant: #3f465f;
$palette-fidelity-on-red: #67001f;
$palette-fidelity-on-red-container: #000000;
$palette-fidelity-on-secondary: #2d303a;
$palette-fidelity-on-secondary-container: #e2e3f1;
$palette-fidelity-on-secondary-fixed: #191b25;
$palette-fidelity-on-secondary-fixed-variant: #444651;
$palette-fidelity-on-surface: #e4e2e4;
$palette-fidelity-on-surface-variant: #c6c6ce;
$palette-fidelity-on-tertiary: #3d2e0d;
$palette-fidelity-on-tertiary-container: #000000;
$palette-fidelity-on-tertiary-fixed: #261900;
$palette-fidelity-on-tertiary-fixed-variant: #554421;
$palette-fidelity-on-white: #2f3131;
$palette-fidelity-on-white-container: #464849;
$palette-fidelity-on-yellow: #273504;
$palette-fidelity-on-yellow-container: #3e4d1a;
$palette-fidelity-outline: #909098;
$palette-fidelity-outline-variant: #45464d;
$palette-fidelity-primary: #bfc5e4;
$palette-fidelity-primary-container: #8990ac;
$palette-fidelity-primary-fixed: #dbe1ff;
$palette-fidelity-primary-fixed-dim: #bfc5e4;
$palette-fidelity-red: #ffb2b9;
$palette-fidelity-red-container: #ff5070;
$palette-fidelity-red-source: #ff0000;
$palette-fidelity-red-value: #ff0000;
$palette-fidelity-scrim: #000000;
$palette-fidelity-secondary: #c4c6d3;
$palette-fidelity-secondary-container: #464954;
$palette-fidelity-secondary-fixed: #e1e1ef;
$palette-fidelity-secondary-fixed-dim: #c4c6d3;
$palette-fidelity-shadow: #000000;
$palette-fidelity-surface: #131315;
$palette-fidelity-surface-bright: #39393b;
$palette-fidelity-surface-container: #1f1f21;
$palette-fidelity-surface-container-high: #2a2a2c;
$palette-fidelity-surface-container-highest: #353436;
$palette-fidelity-surface-container-low: #1b1b1d;
$palette-fidelity-surface-container-lowest: #0e0e10;
$palette-fidelity-surface-dim: #131315;
$palette-fidelity-surface-tint: #bfc5e4;
$palette-fidelity-surface-variant: #45464d;
$palette-fidelity-tertiary: #dcc396;
$palette-fidelity-tertiary-container: #a48e65;
$palette-fidelity-tertiary-fixed: #fadfb0;
$palette-fidelity-tertiary-fixed-dim: #dcc396;
$palette-fidelity-white: #ffffff;
$palette-fidelity-white-container: #e2e2e2;
$palette-fidelity-white-source: #ffffff;
$palette-fidelity-white-value: #ffffff;
$palette-fidelity-yellow: #ffffff;
$palette-fidelity-yellow-container: #d7eaa7;
$palette-fidelity-yellow-source: #ffff00;
$palette-fidelity-yellow-value: #ffff00;
$palette-fruit-salad-background: #10131c;
$palette-fruit-salad-blue: #64d3ff;
$palette-fruit-salad-blue-container: #004d64;
$palette-fruit-salad-blue-source: #0000ff;
$palette-fruit-salad-blue-value: #0000ff;
$palette-fruit-salad-cyan: #74daa3;
$palette-fruit-salad-cyan-container: #005233;
$palette-fruit-salad-cyan-source: #00ffff;
$palette-fruit-salad-cyan-value: #00ffff;
$palette-fruit-salad-error: #ffb4ab;
$palette-fruit-salad-error-container: #93000a;
$palette-fruit-salad-green: #d3ca53;
$palette-fruit-salad-green-container: #4d4800;
$palette-fruit-salad-green-source: #00ff00;
$palette-fruit-salad-green-value: #00ff00;
$palette-fruit-salad-inverse-on-surface: #2e303a;
$palette-fruit-salad-inverse-primary: #00677f;
$palette-fruit-salad-inverse-surface: #e1e1ef;
$palette-fruit-salad-magenta: #b1c5ff;
$palette-fruit-salad-magenta-container: #1c438f;
$palette-fruit-salad-magenta-source: #ff00ff;
$palette-fruit-salad-magenta-value: #ff00ff;
$palette-fruit-salad-on-background: #e1e1ef;
$palette-fruit-salad-on-blue: #003546;
$palette-fruit-salad-on-blue-container: #bce9ff;
$palette-fruit-salad-on-cyan: #003821;
$palette-fruit-salad-on-cyan-container: #90f7be;
$palette-fruit-salad-on-error: #690005;
$palette-fruit-salad-on-error-container: #ffdad6;
$palette-fruit-salad-on-green: #353200;
$palette-fruit-salad-on-green-container: #efe66b;
$palette-fruit-salad-on-magenta: #002c71;
$palette-fruit-salad-on-magenta-container: #dae2ff;
$palette-fruit-salad-on-primary: #003543;
$palette-fruit-salad-on-primary-container: #b6ebff;
$palette-fruit-salad-on-primary-fixed: #001f28;
$palette-fruit-salad-on-primary-fixed-variant: #004e60;
$palette-fruit-salad-on-red: #4d1660;
$palette-fruit-salad-on-red-container: #fad7ff;
$palette-fruit-salad-on-secondary: #003543;
$palette-fruit-salad-on-secondary-container: #b6ebff;
$palette-fruit-salad-on-secondary-fixed: #001f28;
$palette-fruit-salad-on-secondary-fixed-variant: #004e60;
$palette-fruit-salad-on-surface: #e1e1ef;
$palette-fruit-salad-on-surface-variant: #c1c5dd;
$palette-fruit-salad-on-tertiary: #1b2d61;
$palette-fruit-salad-on-tertiary-container: #dbe1ff;
$palette-fruit-salad-on-tertiary-fixed: #01174b;
$palette-fruit-salad-on-tertiary-fixed-variant: #334478;
$palette-fruit-salad-on-white: #00391f;
$palette-fruit-salad-on-white-container: #93f7bb;
$palette-fruit-salad-on-yellow: #442b00;
$palette-fruit-salad-on-yellow-container: #ffddb1;
$palette-fruit-salad-outline: #8b90a5;
$palette-fruit-salad-outline-variant: #414659;
$palette-fruit-salad-primary: #5cd5fb;
$palette-fruit-salad-primary-container: #004e60;
$palette-fruit-salad-primary-fixed: #b6ebff;
$palette-fruit-salad-primary-fixed-dim: #5cd5fb;
$palette-fruit-salad-red: #efb0ff;
$palette-fruit-salad-red-container: #662f79;
$palette-fruit-salad-red-source: #ff0000;
$palette-fruit-salad-red-value: #ff0000;
$palette-fruit-salad-scrim: #000000;
$palette-fruit-salad-secondary: #87d1eb;
$palette-fruit-salad-secondary-container: #004e60;
$palette-fruit-salad-secondary-fixed: #b6ebff;
$palette-fruit-salad-secondary-fixed-dim: #87d1eb;
$palette-fruit-salad-shadow: #000000;
$palette-fruit-salad-surface: #10131c;
$palette-fruit-salad-surface-bright: #363943;
$palette-fruit-salad-surface-container: #1d1f29;
$palette-fruit-salad-surface-container-high: #272a34;
$palette-fruit-salad-surface-container-highest: #32343f;
$palette-fruit-salad-surface-container-low: #191b25;
$palette-fruit-salad-surface-container-lowest: #0b0e17;
$palette-fruit-salad-surface-dim: #10131c;
$palette-fruit-salad-surface-tint: #5cd5fb;
$palette-fruit-salad-surface-variant: #414659;
$palette-fruit-salad-tertiary: #b4c4ff;
$palette-fruit-salad-tertiary-container: #334478;
$palette-fruit-salad-tertiary-fixed: #dbe1ff;
$palette-fruit-salad-tertiary-fixed-dim: #b4c4ff;
$palette-fruit-salad-white: #77daa0;
$palette-fruit-salad-white-container: #005230;
$palette-fruit-salad-white-source: #ffffff;
$palette-fruit-salad-white-value: #ffffff;
$palette-fruit-salad-yellow: #feba4b;
$palette-fruit-salad-yellow-container: #614000;
$palette-fruit-salad-yellow-source: #ffff00;
$palette-fruit-salad-yellow-value: #ffff00;
$palette-monochrome-background: #131313;
$palette-monochrome-blue: #ffffff;
$palette-monochrome-blue-container: #d4d4d4;
$palette-monochrome-blue-source: #0000ff;
$palette-monochrome-blue-value: #0000ff;
$palette-monochrome-cyan: #ffffff;
$palette-monochrome-cyan-container: #d4d4d4;
$palette-monochrome-cyan-source: #00ffff;
$palette-monochrome-cyan-value: #00ffff;
$palette-monochrome-error: #ffb4ab;
$palette-monochrome-error-container: #93000a;
$palette-monochrome-green: #ffffff;
$palette-monochrome-green-container: #d4d4d4;
$palette-monochrome-green-source: #00ff00;
$palette-monochrome-green-value: #00ff00;
$palette-monochrome-inverse-on-surface: #303030;
$palette-monochrome-inverse-primary: #5e5e5e;
$palette-monochrome-inverse-surface: #e2e2e2;
$palette-monochrome-magenta: #ffffff;
$palette-monochrome-magenta-container: #d4d4d4;
$palette-monochrome-magenta-source: #ff00ff;
$palette-monochrome-magenta-value: #ff00ff;
$palette-monochrome-on-background: #e2e2e2;
$palette-monochrome-on-blue: #1b1b1b;
$palette-monochrome-on-blue-container: #000000;
$palette-monochrome-on-cyan: #1b1b1b;
$palette-monochrome-on-cyan-container: #000000;
$palette-monochrome-on-error: #690005;
$palette-monochrome-on-error-container: #ffdad6;
$palette-monochrome-on-green: #1b1b1b;
$palette-monochrome-on-green-container: #000000;
$palette-monochrome-on-magenta: #1b1b1b;
$palette-monochrome-on-magenta-container: #000000;
$palette-monochrome-on-primary: #1b1b1b;
$palette-monochrome-on-primary-container: #000000;
$palette-monochrome-on-primary-fixed: #ffffff;
$palette-monochrome-on-primary-fixed-variant: #e2e2e2;
$palette-monochrome-on-red: #1b1b1b;
$palette-monochrome-on-red-container: #000000;
$palette-monochrome-on-secondary: #1b1b1b;
$palette-monochrome-on-secondary-container: #e2e2e2;
$palette-monochrome-on-secondary-fixed: #1b1b1b;
$palette-monochrome-on-secondary-fixed-variant: #3b3b3b;
$palette-monochrome-on-surface: #e2e2e2;
$palette-monochrome-on-surface-variant: #c6c6c6;
$palette-monochrome-on-tertiary: #1b1b1b;
$palette-monochrome-on-tertiary-container: #000000;
$palette-monochrome-on-tertiary-fixed: #ffffff;
$palette-monochrome-on-tertiary-fixed-variant: #e2e2e2;
$palette-monochrome-on-white: #1b1b1b;
$palette-monochrome-on-white-container: #000000;
$palette-monochrome-on-yellow: #1b1b1b;
$palette-monochrome-on-yellow-container: #000000;
$palette-monochrome-outline: #919191;
$palette-monochrome-outline-variant: #474747;
$palette-monochrome-primary: #ffffff;
$palette-monochrome-primary-container: #d4d4d4;
$palette-monochrome-primary-fixed: #5e5e5e;
$palette-monochrome-primary-fixed-dim: #474747;
$palette-monochrome-red: #ffffff;
$palette-monochrome-red-container: #d4d4d4;
$palette-monochrome-red-source: #ff0000;
$palette-monochrome-red-value: #ff0000;
$palette-monochrome-scrim: #000000;
$palette-monochrome-secondary: #c6c6c6;
$palette-monochrome-secondary-container: #474747;
$palette-monochrome-secondary-fixed: #c6c6c6;
$palette-monochrome-secondary-fixed-dim: #ababab;
$palette-monochrome-shadow: #000000;
$palette-monochrome-surface: #131313;
$palette-monochrome-surface-bright: #393939;
$palette-monochrome-surface-container: #1f1f1f;
$palette-monochrome-surface-container-high: #2a2a2a;
$palette-monochrome-surface-container-highest: #353535;
$palette-monochrome-surface-container-low: #1b1b1b;
$palette-monochrome-surface-container-lowest: #0e0e0e;
$palette-monochrome-surface-dim: #131313;
$palette-monochrome-surface-tint: #c6c6c6;
$palette-monochrome-surface-variant: #474747;
$palette-monochrome-tertiary: #e2e2e2;
$palette-monochrome-tertiary-container: #919191;
$palette-monochrome-tertiary-fixed: #5e5e5e;
$palette-monochrome-tertiary-fixed-dim: #474747;
$palette-monochrome-white: #ffffff;
$palette-monochrome-white-container: #d4d4d4;
$palette-monochrome-white-source: #ffffff;
$palette-monochrome-white-value: #ffffff;
$palette-monochrome-yellow: #ffffff;
$palette-monochrome-yellow-container: #d4d4d4;
$palette-monochrome-yellow-source: #ffff00;
$palette-monochrome-yellow-value: #ffff00;
$palette-neutral-background: #131315;
$palette-neutral-blue: #c5c5d6;
$palette-neutral-blue-container: #444654;
$palette-neutral-blue-source: #0000ff;
$palette-neutral-blue-value: #0000ff;
$palette-neutral-cyan: #b8cacd;
$palette-neutral-cyan-container: #3a494d;
$palette-neutral-cyan-source: #00ffff;
$palette-neutral-cyan-value: #00ffff;
$palette-neutral-error: #ffb4ab;
$palette-neutral-error-container: #93000a;
$palette-neutral-green: #bbcabc;
$palette-neutral-green-container: #3c4a3f;
$palette-neutral-green-source: #00ff00;
$palette-neutral-green-value: #00ff00;
$palette-neutral-inverse-on-surface: #313032;
$palette-neutral-inverse-primary: #5b5e6c;
$palette-neutral-inverse-surface: #e5e2e3;
$palette-neutral-magenta: #d1c2d2;
$palette-neutral-magenta-container: #4e4351;
$palette-neutral-magenta-source: #ff00ff;
$palette-neutral-magenta-value: #ff00ff;
$palette-neutral-on-background: #e5e2e3;
$palette-neutral-on-blue: #2e303d;
$palette-neutral-on-blue-container: #e1e1f3;
$palette-neutral-on-cyan: #233336;
$palette-neutral-on-cyan-container: #d4e6e9;
$palette-neutral-on-error: #690005;
$palette-neutral-on-error-container: #ffdad6;
$palette-neutral-on-green: #26332a;
$palette-neutral-on-green-container: #d7e7d8;
$palette-neutral-on-magenta: #372d3a;
$palette-neutral-on-magenta-container: #eeddef;
$palette-neutral-on-primary: #2d303d;
$palette-neutral-on-primary-container: #e0e1f2;
$palette-neutral-on-primary-fixed: #181b27;
$palette-neutral-on-primary-fixed-variant: #434654;
$palette-neutral-on-red: #3f2b2d;
$palette-neutral-on-red-container: #fbdbdc;
$palette-neutral-on-secondary: #2e3038;
$palette-neutral-on-secondary-container: #e2e1ec;
$palette-neutral-on-secondary-fixed: #191b23;
$palette-neutral-on-secondary-fixed-variant: #45464f;
$palette-neutral-on-surface: #e5e2e3;
$palette-neutral-on-surface-variant: #c8c6c7;
$palette-neutral-on-tertiary: #2b3042;
$palette-neutral-on-tertiary-container: #dde1f9;
$palette-neutral-on-tertiary-fixed: #161b2c;
$palette-neutral-on-tertiary-fixed-variant: #414659;
$palette-neutral-on-white: #233336;
$palette-neutral-on-white-container: #d4e6e9;
$palette-neutral-on-yellow: #2e3222;
$palette-neutral-on-yellow-container: #e0e5cd;
$palette-neutral-outline: #929092;
$palette-neutral-outline-variant: #474648;
$palette-neutral-primary: #c3c6d6;
$palette-neutral-primary-container: #434654;
$palette-neutral-primary-fixed: #e0e1f2;
$palette-neutral-primary-fixed-dim: #c3c6d6;
$palette-neutral-red: #debfc1;
$palette-neutral-red-container: #574143;
$palette-neutral-red-source: #ff0000;
$palette-neutral-red-value: #ff0000;
$palette-neutral-scrim: #000000;
$palette-neutral-secondary: #c6c6d0;
$palette-neutral-secondary-container: #45464f;
$palette-neutral-secondary-fixed: #e2e1ec;
$palette-neutral-secondary-fixed-dim: #c6c6d0;
$palette-neutral-shadow: #000000;
$palette-neutral-surface: #131315;
$palette-neutral-surface-bright: #39393a;
$palette-neutral-surface-container: #201f21;
$palette-neutral-surface-container-high: #2a2a2b;
$palette-neutral-surface-container-highest: #353436;
$palette-neutral-surface-container-low: #1c1b1d;
$palette-neutral-surface-container-lowest: #0e0e0f;
$palette-neutral-surface-dim: #131315;
$palette-neutral-surface-tint: #c3c6d6;
$palette-neutral-surface-variant: #474648;
$palette-neutral-tertiary: #c1c5dd;
$palette-neutral-tertiary-container: #414659;
$palette-neutral-tertiary-fixed: #dde1f9;
$palette-neutral-tertiary-fixed-dim: #c1c5dd;
$palette-neutral-white: #b8cacd;
$palette-neutral-white-container: #39494c;
$palette-neutral-white-source: #ffffff;
$palette-neutral-white-value: #ffffff;
$palette-neutral-yellow: #c4c9b1;
$palette-neutral-yellow-container: #444937;
$palette-neutral-yellow-source: #ffff00;
$palette-neutral-yellow-value: #ffff00;
$palette-rainbow-background: #131313;
$palette-rainbow-blue: #b9c3ff;
$palette-rainbow-blue-container: #2f4090;
$palette-rainbow-blue-source: #0000ff;
$palette-rainbow-blue-value: #0000ff;
$palette-rainbow-cyan: #50d7ee;
$palette-rainbow-cyan-container: #004e59;
$palette-rainbow-cyan-source: #00ffff;
$palette-rainbow-cyan-value: #00ffff;
$palette-rainbow-error: #ffb4ab;
$palette-rainbow-error-container: #93000a;
$palette-rainbow-green: #7bda9c;
$palette-rainbow-green-container: #00522c;
$palette-rainbow-green-source: #00ff00;
$palette-rainbow-green-value: #00ff00;
$palette-rainbow-inverse-on-surface: #303030;
$palette-rainbow-inverse-primary: #3f5aa9;
$palette-rainbow-inverse-surface: #e2e2e2;
$palette-rainbow-magenta: #eab2ff;
$palette-rainbow-magenta-container: #64307b;
$palette-rainbow-magenta-source: #ff00ff;
$palette-rainbow-magenta-value: #ff00ff;
$palette-rainbow-on-background: #e2e2e2;
$palette-rainbow-on-blue: #142778;
$palette-rainbow-on-blue-container: #dee1ff;
$palette-rainbow-on-cyan: #00363e;
$palette-rainbow-on-cyan-container: #9eefff;
$palette-rainbow-on-error: #690005;
$palette-rainbow-on-error-container: #ffdad6;
$palette-rainbow-on-green: #00391d;
$palette-rainbow-on-green-container: #97f7b7;
$palette-rainbow-on-magenta: #4b1763;
$palette-rainbow-on-magenta-container: #f7d8ff;
$palette-rainbow-on-primary: #022978;
$palette-rainbow-on-primary-container: #dbe1ff;
$palette-rainbow-on-primary-fixed: #00174c;
$palette-rainbow-on-primary-fixed-variant: #254290;
$palette-rainbow-on-red: #5f1222;
$palette-rainbow-on-red-container: #ffdadc;
$palette-rainbow-on-secondary: #2b3042;
$palette-rainbow-on-secondary-container: #dde1f9;
$palette-rainbow-on-secondary-fixed: #161b2c;
$palette-rainbow-on-secondary-fixed-variant: #414659;
$palette-rainbow-on-surface: #e2e2e2;
$palette-rainbow-on-surface-variant: #c6c6c6;
$palette-rainbow-on-tertiary: #422740;
$palette-rainbow-on-tertiary-container: #ffd6f7;
$palette-rainbow-on-tertiary-fixed: #2b122a;
$palette-rainbow-on-tertiary-fixed-variant: #5b3d58;
$palette-rainbow-on-white: #00363d;
$palette-rainbow-on-white-container: #97f0ff;
$palette-rainbow-on-yellow: #263500;
$palette-rainbow-on-yellow-container: #ceef84;
$palette-rainbow-outline: #919191;
$palette-rainbow-outline-variant: #474747;
$palette-rainbow-primary: #b4c4ff;
$palette-rainbow-primary-container: #254290;
$palette-rainbow-primary-fixed: #dbe1ff;
$palette-rainbow-primary-fixed-dim: #b4c4ff;
$palette-rainbow-red: #ffb2b9;
$palette-rainbow-red-container: #7d2937;
$palette-rainbow-red-source: #ff0000;
$palette-rainbow-red-value: #ff0000;
$palette-rainbow-scrim: #000000;
$palette-rainbow-secondary: #c1c5dd;
$palette-rainbow-secondary-container: #414659;
$palette-rainbow-secondary-fixed: #dde1f9;
$palette-rainbow-secondary-fixed-dim: #c1c5dd;
$palette-rainbow-shadow: #000000;
$palette-rainbow-surface: #131313;
$palette-rainbow-surface-bright: #393939;
$palette-rainbow-surface-container: #1f1f1f;
$palette-rainbow-surface-container-high: #2a2a2a;
$palette-rainbow-surface-container-highest: #353535;
$palette-rainbow-surface-container-low: #1b1b1b;
$palette-rainbow-surface-container-lowest: #0e0e0e;
$palette-rainbow-surface-dim: #131313;
$palette-rainbow-surface-tint: #b4c4ff;
$palette-rainbow-surface-variant: #474747;
$palette-rainbow-tertiary: #e2bbdb;
$palette-rainbow-tertiary-container: #5b3d58;
$palette-rainbow-tertiary-fixed: #ffd6f7;
$palette-rainbow-tertiary-fixed-dim: #e2bbdb;
$palette-rainbow-white: #4fd8eb;
$palette-rainbow-white-container: #004f58;
$palette-rainbow-white-source: #ffffff;
$palette-rainbow-white-value: #ffffff;
$palette-rainbow-yellow: #b2d26b;
$palette-rainbow-yellow-container: #394e00;
$palette-rainbow-yellow-source: #ffff00;
$palette-rainbow-yellow-value: #ffff00;
$palette-tonal-spot-background: #121318;
$palette-tonal-spot-blue: #b9c3ff;
$palette-tonal-spot-blue-container: #384379;
$palette-tonal-spot-blue-source: #0000ff;
$palette-tonal-spot-blue-value: #0000ff;
$palette-tonal-spot-cyan: #82d3e2;
$palette-tonal-spot-cyan-container: #004e59;
$palette-tonal-spot-cyan-source: #00ffff;
$palette-tonal-spot-cyan-value: #00ffff;
$palette-tonal-spot-error: #ffb4ab;
$palette-tonal-spot-error-container: #93000a;
$palette-tonal-spot-green: #95d5a7;
$palette-tonal-spot-green-container: #10512f;
$palette-tonal-spot-green-source: #00ff00;
$palette-tonal-spot-green-value: #00ff00;
$palette-tonal-spot-inverse-on-surface: #2f3036;
$palette-tonal-spot-inverse-primary: #4b5c92;
$palette-tonal-spot-inverse-surface: #e3e2e9;
$palette-tonal-spot-magenta: #e4b7f3;
$palette-tonal-spot-magenta-container: #5c386b;
$palette-tonal-spot-magenta-source: #ff00ff;
$palette-tonal-spot-magenta-value: #ff00ff;
$palette-tonal-spot-on-background: #e3e2e9;
$palette-tonal-spot-on-blue: #212c61;
$palette-tonal-spot-on-blue-container: #dee1ff;
$palette-tonal-spot-on-cyan: #00363e;
$palette-tonal-spot-on-cyan-container: #9eefff;
$palette-tonal-spot-on-error: #690005;
$palette-tonal-spot-on-error-container: #ffdad6;
$palette-tonal-spot-on-green: #00391d;
$palette-tonal-spot-on-green-container: #b0f1c2;
$palette-tonal-spot-on-magenta: #442253;
$palette-tonal-spot-on-magenta-container: #f7d8ff;
$palette-tonal-spot-on-primary: #1b2d61;
$palette-tonal-spot-on-primary-container: #dbe1ff;
$palette-tonal-spot-on-primary-fixed: #01174b;
$palette-tonal-spot-on-primary-fixed-variant: #334478;
$palette-tonal-spot-on-red: #561d26;
$palette-tonal-spot-on-red-container: #ffdadc;
$palette-tonal-spot-on-secondary: #2b3042;
$palette-tonal-spot-on-secondary-container: #dde1f9;
$palette-tonal-spot-on-secondary-fixed: #161b2c;
$palette-tonal-spot-on-secondary-fixed-variant: #414659;
$palette-tonal-spot-on-surface: #e3e2e9;
$palette-tonal-spot-on-surface-variant: #c6c6d0;
$palette-tonal-spot-on-tertiary: #422740;
$palette-tonal-spot-on-tertiary-container: #ffd6f7;
$palette-tonal-spot-on-tertiary-fixed: #2b122a;
$palette-tonal-spot-on-tertiary-fixed-variant: #5b3d58;
$palette-tonal-spot-on-white: #00363d;
$palette-tonal-spot-on-white-container: #9eeffd;
$palette-tonal-spot-on-yellow: #263500;
$palette-tonal-spot-on-yellow-container: #d4ec9d;
$palette-tonal-spot-outline: #8f909a;
$palette-tonal-spot-outline-variant: #45464f;
$palette-tonal-spot-primary: #b4c4ff;
$palette-tonal-spot-primary-container: #334478;
$palette-tonal-spot-primary-fixed: #dbe1ff;
$palette-tonal-spot-primary-fixed-dim: #b4c4ff;
$palette-tonal-spot-red: #ffb2b9;
$palette-tonal-spot-red-container: #72333b;
$palette-tonal-spot-red-source: #ff0000;
$palette-tonal-spot-red-value: #ff0000;
$palette-tonal-spot-scrim: #000000;
$palette-tonal-spot-secondary: #c1c5dd;
$palette-tonal-spot-secondary-container: #414659;
$palette-tonal-spot-secondary-fixed: #dde1f9;
$palette-tonal-spot-secondary-fixed-dim: #c1c5dd;
$palette-tonal-spot-shadow: #000000;
$palette-tonal-spot-surface: #121318;
$palette-tonal-spot-surface-bright: #38393f;
$palette-tonal-spot-surface-container: #1e1f25;
$palette-tonal-spot-surface-container-high: #292a2f;
$palette-tonal-spot-surface-container-highest: #34343a;
$palette-tonal-spot-surface-container-low: #1a1b21;
$palette-tonal-spot-surface-container-lowest: #0d0e13;
$palette-tonal-spot-surface-dim: #121318;
$palette-tonal-spot-surface-tint: #b4c4ff;
$palette-tonal-spot-surface-variant: #45464f;
$palette-tonal-spot-tertiary: #e2bbdb;
$palette-tonal-spot-tertiary-container: #5b3d58;
$palette-tonal-spot-tertiary-fixed: #ffd6f7;
$palette-tonal-spot-tertiary-fixed-dim: #e2bbdb;
$palette-tonal-spot-white: #82d3e0;
$palette-tonal-spot-white-container: #004f58;
$palette-tonal-spot-white-source: #ffffff;
$palette-tonal-spot-white-value: #ffffff;
$palette-tonal-spot-yellow: #b8cf84;
$palette-tonal-spot-yellow-container: #3b4d0f;
$palette-tonal-spot-yellow-source: #ffff00;
$palette-tonal-spot-yellow-value: #ffff00;
$theme-light-background: #faf8ff;
$theme-light-blue: #505b92;
$theme-light-blue-container: #dee1ff;
$theme-light-blue-source: #0000ff;
$theme-light-blue-value: #0000ff;
$theme-light-cyan: #006876;
$theme-light-cyan-container: #9eefff;
$theme-light-cyan-source: #00ffff;
$theme-light-cyan-value: #00ffff;
$theme-light-error: #ba1a1a;
$theme-light-error-container: #ffdad6;
$theme-light-green: #2d6a45;
$theme-light-green-container: #b0f1c2;
$theme-light-green-source: #00ff00;
$theme-light-green-value: #00ff00;
$theme-light-inverse-on-surface: #f1f0f7;
$theme-light-inverse-primary: #b4c4ff;
$theme-light-inverse-surface: #2f3036;
$theme-light-magenta: #765085;
$theme-light-magenta-container: #f7d8ff;
$theme-light-magenta-source: #ff00ff;
$theme-light-magenta-value: #ff00ff;
$theme-light-on-background: #1a1b21;
$theme-light-on-blue: #ffffff;
$theme-light-on-blue-container: #09164b;
$theme-light-on-cyan: #ffffff;
$theme-light-on-cyan-container: #001f24;
$theme-light-on-error: #ffffff;
$theme-light-on-error-container: #410002;
$theme-light-on-green: #ffffff;
$theme-light-on-green-container: #00210f;
$theme-light-on-magenta: #ffffff;
$theme-light-on-magenta-container: #2d0b3d;
$theme-light-on-primary: #ffffff;
$theme-light-on-primary-container: #01174b;
$theme-light-on-primary-fixed: #01174b;
$theme-light-on-primary-fixed-variant: #334478;
$theme-light-on-red: #ffffff;
$theme-light-on-red-container: #3b0712;
$theme-light-on-secondary: #ffffff;
$theme-light-on-secondary-container: #161b2c;
$theme-light-on-secondary-fixed: #161b2c;
$theme-light-on-secondary-fixed-variant: #414659;
$theme-light-on-surface: #1a1b21;
$theme-light-on-surface-variant: #45464f;
$theme-light-on-tertiary: #ffffff;
$theme-light-on-tertiary-container: #2b122a;
$theme-light-on-tertiary-fixed: #2b122a;
$theme-light-on-tertiary-fixed-variant: #5b3d58;
$theme-light-on-white: #ffffff;
$theme-light-on-white-container: #001f24;
$theme-light-on-yellow: #ffffff;
$theme-light-on-yellow-container: #151f00;
$theme-light-outline: #757680;
$theme-light-outline-variant: #c6c6d0;
$theme-light-primary: #4b5c92;
$theme-light-primary-container: #dbe1ff;
$theme-light-primary-fixed: #dbe1ff;
$theme-light-primary-fixed-dim: #b4c4ff;
$theme-light-red: #8f4952;
$theme-light-red-container: #ffdadc;
$theme-light-red-source: #ff0000;
$theme-light-red-value: #ff0000;
$theme-light-scrim: #000000;
$theme-light-secondary: #595e72;
$theme-light-secondary-container: #dde1f9;
$theme-light-secondary-fixed: #dde1f9;
$theme-light-secondary-fixed-dim: #c1c5dd;
$theme-light-shadow: #000000;
$theme-light-source-color: #787f9b;
$theme-light-surface: #faf8ff;
$theme-light-surface-bright: #faf8ff;
$theme-light-surface-container: #eeedf4;
$theme-light-surface-container-high: #e9e7ef;
$theme-light-surface-container-highest: #e3e2e9;
$theme-light-surface-container-low: #f4f3fa;
$theme-light-surface-container-lowest: #ffffff;
$theme-light-surface-dim: #dad9e0;
$theme-light-surface-tint: #4b5c92;
$theme-light-surface-variant: #e2e1ec;
$theme-light-tertiary: #745470;
$theme-light-tertiary-container: #ffd6f7;
$theme-light-tertiary-fixed: #ffd6f7;
$theme-light-tertiary-fixed-dim: #e2bbdb;
$theme-light-white: #006874;
$theme-light-white-container: #9eeffd;
$theme-light-white-source: #ffffff;
$theme-light-white-value: #ffffff;
$theme-light-yellow: #526526;
$theme-light-yellow-container: #d4ec9d;
$theme-light-yellow-source: #ffff00;
$theme-light-yellow-value: #ffff00;
$theme-dark-background: #121318;
$theme-dark-blue: #b9c3ff;
$theme-dark-blue-container: #384379;
$theme-dark-blue-source: #0000ff;
$theme-dark-blue-value: #0000ff;
$theme-dark-cyan: #82d3e2;
$theme-dark-cyan-container: #004e59;
$theme-dark-cyan-source: #00ffff;
$theme-dark-cyan-value: #00ffff;
$theme-dark-error: #ffb4ab;
$theme-dark-error-container: #93000a;
$theme-dark-green: #95d5a7;
$theme-dark-green-container: #10512f;
$theme-dark-green-source: #00ff00;
$theme-dark-green-value: #00ff00;
$theme-dark-inverse-on-surface: #2f3036;
$theme-dark-inverse-primary: #4b5c92;
$theme-dark-inverse-surface: #e3e2e9;
$theme-dark-magenta: #e4b7f3;
$theme-dark-magenta-container: #5c386b;
$theme-dark-magenta-source: #ff00ff;
$theme-dark-magenta-value: #ff00ff;
$theme-dark-on-background: #e3e2e9;
$theme-dark-on-blue: #212c61;
$theme-dark-on-blue-container: #dee1ff;
$theme-dark-on-cyan: #00363e;
$theme-dark-on-cyan-container: #9eefff;
$theme-dark-on-error: #690005;
$theme-dark-on-error-container: #ffdad6;
$theme-dark-on-green: #00391d;
$theme-dark-on-green-container: #b0f1c2;
$theme-dark-on-magenta: #442253;
$theme-dark-on-magenta-container: #f7d8ff;
$theme-dark-on-primary: #1b2d61;
$theme-dark-on-primary-container: #dbe1ff;
$theme-dark-on-primary-fixed: #01174b;
$theme-dark-on-primary-fixed-variant: #334478;
$theme-dark-on-red: #561d26;
$theme-dark-on-red-container: #ffdadc;
$theme-dark-on-secondary: #2b3042;
$theme-dark-on-secondary-container: #dde1f9;
$theme-dark-on-secondary-fixed: #161b2c;
$theme-dark-on-secondary-fixed-variant: #414659;
$theme-dark-on-surface: #e3e2e9;
$theme-dark-on-surface-variant: #c6c6d0;
$theme-dark-on-tertiary: #422740;
$theme-dark-on-tertiary-container: #ffd6f7;
$theme-dark-on-tertiary-fixed: #2b122a;
$theme-dark-on-tertiary-fixed-variant: #5b3d58;
$theme-dark-on-white: #00363d;
$theme-dark-on-white-container: #9eeffd;
$theme-dark-on-yellow: #263500;
$theme-dark-on-yellow-container: #d4ec9d;
$theme-dark-outline: #8f909a;
$theme-dark-outline-variant: #45464f;
$theme-dark-primary: #b4c4ff;
$theme-dark-primary-container: #334478;
$theme-dark-primary-fixed: #dbe1ff;
$theme-dark-primary-fixed-dim: #b4c4ff;
$theme-dark-red: #ffb2b9;
$theme-dark-red-container: #72333b;
$theme-dark-red-source: #ff0000;
$theme-dark-red-value: #ff0000;
$theme-dark-scrim: #000000;
$theme-dark-secondary: #c1c5dd;
$theme-dark-secondary-container: #414659;
$theme-dark-secondary-fixed: #dde1f9;
$theme-dark-secondary-fixed-dim: #c1c5dd;
$theme-dark-shadow: #000000;
$theme-dark-surface: #121318;
$theme-dark-surface-bright: #38393f;
$theme-dark-surface-container: #1e1f25;
$theme-dark-surface-container-high: #292a2f;
$theme-dark-surface-container-highest: #34343a;
$theme-dark-surface-container-low: #1a1b21;
$theme-dark-surface-container-lowest: #0d0e13;
$theme-dark-surface-dim: #121318;
$theme-dark-surface-tint: #b4c4ff;
$theme-dark-surface-variant: #45464f;
$theme-dark-tertiary: #e2bbdb;
$theme-dark-tertiary-container: #5b3d58;
$theme-dark-tertiary-fixed: #ffd6f7;
$theme-dark-tertiary-fixed-dim: #e2bbdb;
$theme-dark-white: #82d3e0;
$theme-dark-white-container: #004f58;
$theme-dark-white-source: #ffffff;
$theme-dark-white-value: #ffffff;
$theme-dark-yellow: #b8cf84;
$theme-dark-yellow-container: #3b4d0f;
$theme-dark-yellow-source: #ffff00;
$theme-dark-yellow-value: #ffff00;
